PADDLE_API_TOKEN=your_api_token_here
MINERU_API_TOKEN=your_api_token_here
MINERU_LANGUAGE=ch_tra
MINERU_ENABLE_TABLE=0
PADDLE_LAYOUT_THRESHOLD=0.35
PADDLE_TEMPERATURE=0.1
PADDLE_REPETITION_PENALTY=1.05
PADDLE_TOP_P=0.75
